*:hover{

  user-select: none;


}



body{
     background-image: url(wall.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
 
  
    color: #555;
    font-family: Arial, helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.0em;
    margin: 0;   
}


.contain {
    
    width: 80%;
    margin: auto;
    overflow: hidden;
}


#side{
     width: 80%;
    margin: auto;
    overflow: hidden;
}


#main{
      width: 80%;
    margin: auto;
    overflow: hidden;
}





#main-footer{
     width: 80%;
    margin: auto;
    overflow: hidden;
}

 header p{
    font-family: potra;
    font-size: 65px;
    color:#1d0909;
    letter-spacing: 20px;
    word-spacing: -20px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
    line-height: 65px;
  }

header{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);
}

#main-header{
    background-color:rgb(211, 48, 98);
     color: rgb(52, 52, 52)  ;
}


#nav-bar{
    background-color: rgb(52, 52, 52);
    color: rgb(211, 48, 98);
  
   

}

 #nav-bar ul {
     font-family:potra;
 
       letter-spacing: 2px;
       list-style: none;
       margin-left: -40px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
     

}

#nav-bar li{
   
    display: inline;
   
}

#nav-bar a{
     color: rgb(211, 48, 98);
    text-decoration: none;
    font-size: 25px;
    padding-right: 19px;
 transition: all 1.2s ease;
       
}



#nav-bar li a{
 transition: all 1.0s ease;
}





#nav-bar li a:hover{
    color: #c1c1c1;
 transform: scale(1.1);
}

#walpaper{
    
    background-image: url('walpaper.jpg');
    background-position: center ;
    background-size: cover;
    height: 500px;
     box-shadow: 10px 10px 10px rgba(0,0,0,0.7);
    text-align: center;  
    border-bottom: rgba(0, 0, 0, 0.6) solid 30px;  
    border-top: rgba(0, 0, 0, 0.6) solid 30px;
   
}


#walpaper h1{
    font-family: potra;
    color: rgb(191, 0, 96);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
    font-size: 50px;
    word-spacing: 4px;
    letter-spacing: 3px;
    line-height: 1.6em;
    padding-top: 140px;
    padding-bottom: 140px;
    margin-top: 50px;
   
    border-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);    box-shadow: 10px 10px 10px rgba(0,0,0,0.7);
}



/*heading animation*/

#walpaper h1{
 transition: all 1.2s ease;
}
#walpaper h1:hover{
transform: scale(1.2);
}
/* end*/

 



#main {
    float: center;
    width: 90%;
    padding: 30px;
    box-sizing: border-box;
    
}

#side .p3{
    
    width: 33%;
   margin-left: 60px;
    background: rgba(52,52,52,0.3);
    color: rgb(235, 235, 235);
    padding: 20px;
    box-sizing: border-box;
     box-shadow: 2px 4px 3px rgba(0,0,0,0.9);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
    border-radius: 40px;
    line-height: 20px;
    
    
}
.p3 span{
     color: rgb(211,48,98);
     font-size: 20px;
     text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
}







#side .p4{
    float: right;
 margin-right: 60px;
    width: 35%;
    background: rgba(52,52,52,0.3);
    color: rgb(235, 235, 235);
    padding: 20px;
    box-sizing: border-box;
     box-shadow: 2px 4px 3px rgba(0,0,0,0.9);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
     border-radius: 40px;
     line-height: 20px;
 
}


.p4 span{
     color: rgb(211,48,98);
     font-size: 20px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
}


#side .p5{
    float: left;
    width: 35%;
    background: rgba(52,52,52,0.3);
    color: rgb(235, 235, 235);
    padding: 20px;
    box-sizing: border-box;
      box-shadow: 2px 4px 3px rgba(0,0,0,0.9);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
     border-radius: 40px;
    line-height: 20px;
    margin-left: 60px;
}
.p5 span{
     color: rgb(211,48,98);
     font-size: 20px;
     text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
}


#side .p6{
    float: right;
    width: 35%;
    background: rgba(52,52,52,0.3);
    color:rgb(235, 235, 235);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.9);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
     border-radius: 40px;
    line-height: 20px;
     margin-right: 60px;
}
.p6 span{
     color: rgb(211,48,98);
     font-size: 20px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
}



#side .p7{
    float: middle;
    width: 35%;
    background: rgba(52,52,52,0.3);
    color: rgb(235, 235, 235);
    padding: 20px;
    box-sizing: border-box;
     box-shadow: 2px 4px 3px rgba(0,0,0,0.9);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
     border-radius: 40px;
    line-height: 20px;
   margin-left: 60px;
}

.p7 span{
     color: rgb(211,48,98);
     font-size: 20px;
     text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
    
}

/*animation*/


#side .p4{
 transition: all 1.2s ease;
}
#side .p4:hover{
transform: scale(1.1);
}



#side .p3{
 transition: all 1.2s ease;
}
#side .p3:hover{
transform: scale(1.1);
}


#side .p5{
 transition: all 1.2s ease;
}
#side .p5:hover{
transform: scale(1.1);
}


#side .p6{
 transition: all 1.2s ease;
}
#side .p6:hover{
transform: scale(1.1);
}



#side .p7{
 transition: all 1.2s ease;
}
#side .p7:hover{
transform: scale(1.1);
}


/*end animation*/







div .logo{
    background-color: rgba(52, 52, 52, 0.2);
      box-shadow: 2px 4px 3px rgba(0,0,0,0.9);
    border-radius: 40px;
    width:  15%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 5px;
   
}


div #icon{
    display: inline;
       
}






/*------ start animation logo----------*/
/*logo animation*/
div .logo{
 transition: all 1.2s ease;
}

div .logo:hover{
transform: scale(1.1);
 
}
/*1*/
div .logo .img1{
 transition: all 1.2s ease;
}

div .logo .img1:hover{
transform: scale(1.4);
}


/*02*/
div .logo .img2{
 transition: all 1.2s ease;
}

div .logo .img2:hover{
transform: scale(1.4);
}


/*03*/
div .logo .img3{
 transition: all 1.2s ease;
}

div .logo .img3:hover{
transform: scale(1.4);
}

/*04*/
div .logo .img4{
 transition: all 1.2s ease;
}

div .logo .img4:hover{
transform: scale(1.4);
}


/*------ end animation logo----------*/















/*end*/













#main-footer{
   
   background: rgba(52,52,52,0.9);
    color: rgb(211,48,98);
    text-align: center;
    width: 100%;
     margin-top: -150px; 
      text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
    
}

footer p{
    
     font-size: 25px;
    word-spacing: 4px;
    letter-spacing: 3px;
    font-family: potra;
}



#main .p1{
    
    font-family: potra;
    font-size: 40px;
     word-spacing: 2px;
    letter-spacing: 1.5px;
     color: rgb(211, 48, 98);
     text-shadow: 2px 4px 3px rgba(2, 2, 2, 0.5);
    background-color:rgba(52, 52, 52,0.3);
    padding:20px;
    padding-left: 40px;
    line-height: 50px;
   width: 40%;
    border-radius: 40px;
 box-shadow: 2px 4px 3px rgba(0,0,0,0.9);
 transition: all 1.5s ease
   
}

#main .p1:hover{
    transform: scale(1.1)
}


#main .p2{
    color: rgb(235, 235, 235);
    word-spacing: 2px;
    letter-spacing: 1.5px;
    line-height: 20px;    
    padding: 7px;
   
}

.para h3{
     color: rgb(211, 48, 98);
    text-shadow:  2px 2px 3px rgba(0,0,0,0.5);
 line-height: 21px;
 
}


div .gallary{
 
 width: 100%;
 height: 2000px;
 background-color: rgba(52, 52, 52, 0.3);
 box-sizing: border-box;
 object-position: center;
 padding: 10px;
 border-radius: 30px;
 box-shadow: 2px 4px 3px rgba(0,0,0,0.9);}

  
 .gallary p{
  text-align: center;
  font-family: potra;
  font-size: 40px;
  letter-spacing: 6px;
  word-spacing: 3px;
  color: rgb(211, 48, 98);
  transition: all 1.1s ease;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
  line-height: 45px;
  
 }

.gallary p:hover{
   color: #e0e0e0;
 transform: scale(1.2);
}
 
 
 
 
 

div .gallary{
 transition: all 1.1s ease;
}


div .gallary:hover{
 
 transform: scale(0.9);
}


/* photo gallary*/

.ss[alt="001"]{
 

 width:30%;

margin-left: 15.5%;
 margin-top: 45px;
border-radius: 20px;
 background-color: rgb(211, 48, 98, 0.5);
 display: inline;
 
}
.ss[alt="002"]{
 

 width:30%;

margin-left: 6%;
 margin-top: 45px;
border-radius: 20px;
 background-color: rgb(211, 48, 98, 0.5);
 display: inline;
 
}

.ss[alt="ss1"]{
 

 width:30%;

margin-left: 17%;
 margin-top: 45px;
border-radius: 20px;
 background-color: rgb(211, 48, 98, 0.5);
 display: inline;
 
}
.ss[alt="ss2"]{
 

 width:30%;
margin-left: 6%;

 margin-top: 45px;
border-radius: 20px;
 background-color: rgb(211, 48, 98, 0.5);
 display: inline;
 
}





.ss{
 
 box-shadow: 2px 4px 3px rgba(0,0,0,0.9);
 
}





/*animation*/


.ss{
 
 transition: all 1.1s ease;
}

.ss:hover{
 
 transform: scale(1.2)
}




.video{

margin-left: 20%;
 box-shadow: 2px 4px 3px rgba(0,0,0,0.9);
 border-radius: 15px;
    width: 60%;
 
}

.video:focus{
 outline: none;
}



.video{
 
 transition: all 1.1s ease;
}

.video:hover{
 
 transform: scale(1.1)
}


/*download buttons*/

        .submit button{
    font-family:potra;
    letter-spacing:2px;
    font-size:20px ;
    border-radius: 100px;
    margin-bottom:50px ;
   padding: 13px 5px ;
    width: 14%;
            
   margin-left: 42%;
    background-color: rgb(52,52,52);
    color: rgb(211,48,98);
    border: none;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.9);
    
}
.submit button:hover

{   cursor: none;
    color: rgb(0, 0, 0);
    background-color:#d33062 ;
}

.submit button{
    transition: all 0.8s ease;
}

.submit button a{
    text-decoration: none;
 color: rgba(211,48,98);
}



.submit:hover button {
    transform: scale(1.1);
}


button:focus{
  outline: none;
}

.ppp{
    text-align: center;
} 





